<h1> This is the index page for Lectures</h1>

<div class="container">

  <%= form_tag(lectures_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Lectures" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>

  <% if @lectures.blank? %>
    <h4>There are no lectures containing the term <%= params[:search] %>.</h4>
  <% end %>

  <table class="table">
  <tr>
    <th>Course Id</th>
    <th>Course Name</th>
    <th>Professor Name</th>
    <th></th>
  </tr>

  <% @lectures.each do |lecture| %>
    <tr>
      <td><%= lecture.course_id %></td>
      <td><%= lecture.course_name %></td>
      <td><%= lecture.professor %></td>
      <td><%= link_to 'Show', lecture_path(lecture) %></td>
    </tr>
  <% end %>
</table>

<div class="text-center">
   <%= will_paginate @lectures, renderer: BootstrapPagination::Rails %>
</div>
</div>
