<div style="margin-top: 50px;" class="container">
  <div class="box">

<<<<<<< HEAD
    <table style="margin:0 auto; width:95%; font-family: Georgia; padding-left: 20px; font-size: 20px;">
      <h1 style="margin:0 auto; width:95%; font-family: Georgia; text-align: center; padding-top: 15px; padding-bottom: 15px; font-size: 40px;">ALL LECTURES</h1>
      <tr>
        <th><u>Course ID</u></th>
        <th><u>Course Name</u></th>
        <th><u>Professor Name</u></th>
        <th></th>
        </tr>
=======
<div class="container">

  <%= form_tag(lectures_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Lectures" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>

  <% if @lectures.blank? %>
    <h4>There are no lectures containing the term <%= params[:search] %>.</h4>
  <% end %>

  <table class="table">
  <tr>
    <th>Course Id</th>
    <th>Course Name</th>
    <th>Professor Name</th>
    <th></th>
  </tr>
>>>>>>> bb7369ff870b932c5cd48eb583d2360e170020ca

    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= lecture.course_id %></td>
        <td><%= lecture.course_name %></td>
        <td><%= lecture.professor %></td>
        <td><%= link_to 'Show', lecture_path(lecture) %></td>
      </tr>
      <% end %>

    </table>

  </div>

<div class="paginate-style">
   <%= will_paginate @lectures, renderer: BootstrapPagination::Rails %>
</div>
</div>
