<h1> This is the index page for Lectures</h1>

<table class="table">
  <tr>
    <th>Course Id</th>
    <th>Course Name</th>
    <th>Professor Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @lectures.each do |lecture| %>
    <tr>
      <td><%= lecture.course_id %></td>
      <td><%= lecture.course_name %></td>
      <td><%= lecture.professor %></td>
      <td><%= link_to 'Show', lecture_path(lecture) %></td>

      <!-- only show edit and delete methods if lecuture belongs to user who created it -->
      <% if user_signed_in? && (current_user.id == lecture.user_id) %>
        <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
        <td><%= link_to 'Destroy', lecture_path(lecture),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>