<p>
  <strong>Lecture Name:</strong>
  <%= @lecture.name %>
</p>
 
<p>
  <strong>Professor Name:</strong>
  <%= @lecture.professor %>
</p>
<!-- Show all the comments associated with the Lecture -->
<h2>Comments</h2>
<% @lecture.comments.each do |comment| %>
  <p>
    <strong>Reviewer:</strong>
    <%= comment.reviewer %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.review %>
  </p>
<% end %>
<!-- Allow users signed in to add a comment -->
<h2>Add a comment:</h2>
<%= form_for([@lecture, @lecture.comments.build]) do |f| %>
  <p>
    <%= f.label :reviewer %><br>
    <%= f.text_field :reviewer %>
  </p>
  <p>
    <%= f.label :review %><br>
    <%= f.text_area :review %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

