<p>
  <strong>Lecture Name:</strong>
  <%= @lecture.name %>
</p>
 
<p>
  <strong>Professor Name:</strong>
  <%= @lecture.professor %>
</p>


<h2>Add a comment:</h2>
<%= form_for([@lecture, @lecture.comments.build]) do |f| %>
  <p>
    <%= f.label :reviewer %><br>
    <%= f.text_field :reviewer %>
  </p>
  <p>
    <%= f.label :review %><br>
    <%= f.text_area :review %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

