<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body background="/assets/background.png">

<div class="container">
	<%= render 'layouts/navbar' %>
	<%= render 'layouts/devise_alerts' %>
	<%= yield %>
</div>

</body>
</html>
